@import "tailwindcss";

:root {
  --background: #faf4e1;
  --foreground: #0f0f0f;
  --yellow: #f8dd84;
  --light-blue: #4c9bb9;
  --dark-blue: #1c5469;
  --slate: #4a7582;
  --font-yellow: #f3cf56;
}

@theme inline {
}

body {
  background: var(--foreground);
  color: var(--light-blue);
  font-size: 16px;
  font-family: var(--font-dm-sans);
}
